/* Estilos personalizados */

body {
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: #007BFF;
}

.navbar-brand {
    font-weight: bold;
}

.footer {
    background-color: #f8f9fa;
    padding: 10px 0;
}

.footer p {
    margin: 0;
}
 